        body{
            background-color:#121212;
            height:900px;
            margin:auto;
           
        }


        /* ------------------- */

        /* Nagłówek */
        .naglowek{

            height:15%;
            width:100%;
            background-color:#161616;
            color:#FFFFF0;
            display:flex;
            align-items:center;
            text-align:center;
            border-bottom:1px rgb(86, 193, 255) solid;
            border-top:1px rgb(86, 193, 255) solid;
        }

        .naglowek-tekst{
           
            width:80%;
            float:right;
            margin-left:5%;
        }

        .naglowek-logo{
            width:20%;
            
           
        }

        /* Nagłówek */

        /* ------------------- */

       /* Dane do wpisania */  
        .dane{
            float:left;
            width:33%;
            background-color:#121212;
            color:#FFFFF0;
            height:85%;
            display:flex;
            justify-content:center;
            font-size:28px;
            text-align:center;
            place-items:center;
           
        }

        textarea{
            margin-top:2%;
            resize:none;
            font-size:20px;
            background-color:#333333;
            color:#FFFFF0;
            width:95%;
         }
 
         textarea:hover{
             filter: brightness(85%);
         }
        /* Dane do wpisania */  
        
        /* ------------------- */

        /* Wzory kartek */
        .wzory-kartki{
            float:left;
            width:33%;
            background-color:#161616;
            color:#FFFFF0;
            height:85%;
           
            overflow-y:scroll;
            border-left:1px rgb(86, 193, 255) solid;
           
            
            border-bottom:1px rgb(86, 193, 255) solid;
            
        }
        .wzory-kartki::-webkit-scrollbar {
            background-color: rgb(86, 193, 255);
            width:7px;
        }   
        .wzory-kartki::-webkit-scrollbar-thumb {
            background: rgb(65, 64, 64);
            
          }

          .wzory-kartki::-webkit-scrollbar-thumb:hover {
            
            background: rgb(109, 107, 107);
          }
        .kartka:hover{
            filter: brightness(80%);
        }

        .active{
            filter: brightness(80%);
        }

      
        .kartka{
     
            width:94%;
            height:120px;
            margin:15px;
            cursor:pointer;
        }

    
        .kartki-imie-nadawcy{
           float:left;
        }

        .kartki-adres-odbiorcy{
            float:right;
            
        }
        
        .kartki-tresc-kartki{
            clear:both;
            display:flex;
            justify-content:center;
            align-items:center;
            place-items:center;
            text-align:center;
            padding-top:2%;
        }

        .kartka > div {
            padding:2px;

        }

         /* Wzory kartek */
     
         /* ------------------- */

         /*Stworzenie kartki */

        .wyniki{
            float:left;
            height:85%;
            width:33%;
            background-color:#121212;
            display:flex;
           justify-content:center;
           align-items:center;
          flex-direction:column;
          
        }

        .gotowa-kartka{

            width:95%;
            height:25%;
            margin-bottom:15px;
        }

        .stworz{
            width:100px;
            height:55px;
            border-radius: 10px;
            border:1px solid black;
        }

        .stworz:hover{
            filter: brightness(80%);
        }

        .wyniki > button{
        margin-top:40px;
        display:none;
        border-radius:5px;
        text-align:center;
        height:60px;
        width:150px;
        font-size:18px;
        background-color:-webkit-linear-gradient(360deg,#030303 10%,#1f1f1f 360%); background: linear-gradient(360deg,#030303 10%,#1f1f1f 360%); 
        border: 1px rgb(86, 193, 255) solid;
        color:#FFFFF0;
        cursor:pointer;
        }
        .wyniki > button:hover{
            filter: brightness(75%);
            }
    
      
        /* Wysyłanie na maila */
        .wysylanie-maila{
            display:block;
            align-items:center;
            justify-content:center;
            text-align:center;
            font-size:30px;
            width:90%;
            height:20%;
            color:#FFFFF0; 
            display:none;
        }


        .mail-adres-odbiorcy{
          margin-top:2%;
          background-color:#333333;
          width:80%;
          height:20%;
          border: #cacaca 1px solid;
          font-size:26px;
          color:#FFFFF0; 
          margin-bottom:4%;
        }
        .mail-adres-odbiorcy:hover{

            filter: brightness(75%); 
        }


      
        .mail-submit{
            background-color:-webkit-linear-gradient(360deg,#030303 10%,#1f1f1f 360%); background: linear-gradient(360deg,#030303 10%,#1f1f1f 360%); 
            border: 1px rgb(86, 193, 255) solid;
            color:#FFFFF0;
            font-size:18px;
            border-radius:5px;
            text-align:center;
            height:60px;
            width:150px;
            margin-top:20px;
            cursor:pointer;
        }
        
        .mail-submit:hover{
            filter: brightness(75%);
            }

        .mail-wyslij-plik::file-selector-button{
            background-color:-webkit-linear-gradient(360deg,#030303 10%,#1f1f1f 360%); background: linear-gradient(360deg,#030303 10%,#1f1f1f 360%); 
            border: 1px rgb(86, 193, 255) solid;
            color:#FFFFF0;  
            cursor:pointer;
        }
        .mail-wyslij-plik{
            margin-top:2%;
            font-size:15px; 
            margin-left:70px;
            
        }

        .mail-wyslij-plik::file-selector-button:hover{
            filter: brightness(75%);
        
        }
         .mail-tekst{
            font-size:19px;
            color:rgb(240, 93, 93);
          
        }

        /* Wysyłanie na maila */

       /*Stworzenie kartki */